USE [master]
GO
/****** Object:  Database [AUTOMATED ACTIVITIES]    Script Date: 19.06.2021 14:18:21 ******/
CREATE DATABASE [AUTOMATED ACTIVITIES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AUTOMATED ACTIVITIES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AUTOMATED ACTIVITIES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AUTOMATED ACTIVITIES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AUTOMATED ACTIVITIES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AUTOMATED ACTIVITIES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AUTOMATED ACTIVITIES]
GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[id_attachment] [int] IDENTITY(1,1) NOT NULL,
	[id_teacher] [int] NULL,
	[id_sudject] [int] NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[id_attachment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum_in_the_specialtys]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum_in_the_specialtys](
	[id_curriculum_in_the_specialty] [int] IDENTITY(1,1) NOT NULL,
	[id_sudject] [int] NOT NULL,
	[id_specialty] [int] NOT NULL,
	[all_hours] [int] NOT NULL,
	[sudject_hours_theory] [int] NOT NULL,
	[sudject_hours_practice] [int] NOT NULL,
	[sudject_hours_course_design] [int] NOT NULL,
	[semester_numbers] [int] NOT NULL,
	[year_of_study] [int] NOT NULL,
	[code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Curriculum_in_the_specialtys] PRIMARY KEY CLUSTERED 
(
	[id_curriculum_in_the_specialty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id_group] [int] IDENTITY(1,1) NOT NULL,
	[groups_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[id_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loads]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loads](
	[id_load] [int] IDENTITY(1,1) NOT NULL,
	[id_teacher] [int] NOT NULL,
	[id_group] [int] NOT NULL,
	[id_curriculum_in_the_specialty] [int] NOT NULL,
	[date] [date] NOT NULL,
	[loud_hours] [int] NOT NULL,
	[id_type_of_clock] [int] NOT NULL,
 CONSTRAINT [PK_Loads] PRIMARY KEY CLUSTERED 
(
	[id_load] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[rloe_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialtys]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialtys](
	[id_specialty] [int] IDENTITY(1,1) NOT NULL,
	[specialty_name] [nvarchar](250) NOT NULL,
	[specialty_code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Specialtys] PRIMARY KEY CLUSTERED 
(
	[id_specialty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sudjects]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sudjects](
	[id_sudject] [int] IDENTITY(1,1) NOT NULL,
	[sudject_code] [nvarchar](50) NOT NULL,
	[sudject_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sudjects] PRIMARY KEY CLUSTERED 
(
	[id_sudject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[id_teacher] [int] IDENTITY(1,1) NOT NULL,
	[teacher_fname] [nvarchar](70) NOT NULL,
	[teacher_name] [nvarchar](50) NOT NULL,
	[teacher_patronomic] [nvarchar](70) NOT NULL,
	[teacher_photo] [image] NULL,
	[id_user] [int] NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[id_teacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_of_clocks]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_of_clocks](
	[id_type_of_clock] [int] IDENTITY(1,1) NOT NULL,
	[type_of_clock_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type_of_clocks] PRIMARY KEY CLUSTERED 
(
	[id_type_of_clock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.06.2021 14:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[user_login] [nvarchar](150) NOT NULL,
	[user_password] [nvarchar](150) NOT NULL,
	[id_role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attachment] ON 

INSERT [dbo].[Attachment] ([id_attachment], [id_teacher], [id_sudject]) VALUES (1002, 2, 1)
INSERT [dbo].[Attachment] ([id_attachment], [id_teacher], [id_sudject]) VALUES (1004, 2, 4)
INSERT [dbo].[Attachment] ([id_attachment], [id_teacher], [id_sudject]) VALUES (1006, 2, 3)
SET IDENTITY_INSERT [dbo].[Attachment] OFF
GO
SET IDENTITY_INSERT [dbo].[Curriculum_in_the_specialtys] ON 

INSERT [dbo].[Curriculum_in_the_specialtys] ([id_curriculum_in_the_specialty], [id_sudject], [id_specialty], [all_hours], [sudject_hours_theory], [sudject_hours_practice], [sudject_hours_course_design], [semester_numbers], [year_of_study], [code]) VALUES (2, 4, 2, 120, 32, 50, 36, 2, 21, N'Б-Ы-81')
INSERT [dbo].[Curriculum_in_the_specialtys] ([id_curriculum_in_the_specialty], [id_sudject], [id_specialty], [all_hours], [sudject_hours_theory], [sudject_hours_practice], [sudject_hours_course_design], [semester_numbers], [year_of_study], [code]) VALUES (7, 6, 3, 75, 57, 56, 6, 4, 21, N'5')
INSERT [dbo].[Curriculum_in_the_specialtys] ([id_curriculum_in_the_specialty], [id_sudject], [id_specialty], [all_hours], [sudject_hours_theory], [sudject_hours_practice], [sudject_hours_course_design], [semester_numbers], [year_of_study], [code]) VALUES (8, 2007, 5, 45, 25, 10, 10, 2, 22, N'0.33')
SET IDENTITY_INSERT [dbo].[Curriculum_in_the_specialtys] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([id_group], [groups_name]) VALUES (1, N'ИП-82')
INSERT [dbo].[Groups] ([id_group], [groups_name]) VALUES (2, N'С-81')
INSERT [dbo].[Groups] ([id_group], [groups_name]) VALUES (3, N'БЭ-81')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Loads] ON 

INSERT [dbo].[Loads] ([id_load], [id_teacher], [id_group], [id_curriculum_in_the_specialty], [date], [loud_hours], [id_type_of_clock]) VALUES (3, 2, 4, 2, CAST(N'2021-04-04' AS Date), 8, 2)
INSERT [dbo].[Loads] ([id_load], [id_teacher], [id_group], [id_curriculum_in_the_specialty], [date], [loud_hours], [id_type_of_clock]) VALUES (2011, 7, 1, 8, CAST(N'2021-06-13' AS Date), 3, 2)
INSERT [dbo].[Loads] ([id_load], [id_teacher], [id_group], [id_curriculum_in_the_specialty], [date], [loud_hours], [id_type_of_clock]) VALUES (3011, 2, 3005, 2003, CAST(N'2021-06-17' AS Date), 7, 2)
SET IDENTITY_INSERT [dbo].[Loads] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id_role], [rloe_name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([id_role], [rloe_name]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialtys] ON 

INSERT [dbo].[Specialtys] ([id_specialty], [specialty_name], [specialty_code]) VALUES (1, N'Информационные системы и программирование(веб дизайн)', N'04.05')
INSERT [dbo].[Specialtys] ([id_specialty], [specialty_name], [specialty_code]) VALUES (2, N'Строительство', N'01.01')
INSERT [dbo].[Specialtys] ([id_specialty], [specialty_name], [specialty_code]) VALUES (3, N'Монтаж и обслуживание вентиляции', N'07.01')
SET IDENTITY_INSERT [dbo].[Specialtys] OFF
GO
SET IDENTITY_INSERT [dbo].[Sudjects] ON 

INSERT [dbo].[Sudjects] ([id_sudject], [sudject_code], [sudject_name]) VALUES (1, N'21.01', N'Матиматика')
INSERT [dbo].[Sudjects] ([id_sudject], [sudject_code], [sudject_name]) VALUES (2, N'20.01', N'Русский язык')
INSERT [dbo].[Sudjects] ([id_sudject], [sudject_code], [sudject_name]) VALUES (3, N'19.01', N'Английский язык')
SET IDENTITY_INSERT [dbo].[Sudjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([id_teacher], [teacher_fname], [teacher_name], [teacher_patronomic], [teacher_photo], [id_user]) VALUES (2, N'Сидоров', N'Сидр', N'Сидоров', NULL, 2)
INSERT [dbo].[Teachers] ([id_teacher], [teacher_fname], [teacher_name], [teacher_patronomic], [teacher_photo], [id_user]) VALUES (3, N'Тест1', N'Тест1', N'Тест1', NULL, 3)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_of_clocks] ON 

INSERT [dbo].[Type_of_clocks] ([id_type_of_clock], [type_of_clock_name]) VALUES (1, N'Бюджетные')
INSERT [dbo].[Type_of_clocks] ([id_type_of_clock], [type_of_clock_name]) VALUES (2, N'Внебюджетные')
SET IDENTITY_INSERT [dbo].[Type_of_clocks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id_user], [user_login], [user_password], [id_role]) VALUES (2, N'Admin1', N'Admin1', 1)
INSERT [dbo].[Users] ([id_user], [user_login], [user_password], [id_role]) VALUES (3, N'bebebe', N'bababa', 2)
INSERT [dbo].[Users] ([id_user], [user_login], [user_password], [id_role]) VALUES (4, N'1422', N'2442496', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Sudjects] FOREIGN KEY([id_sudject])
REFERENCES [dbo].[Sudjects] ([id_sudject])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_Sudjects]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Teachers] FOREIGN KEY([id_teacher])
REFERENCES [dbo].[Teachers] ([id_teacher])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_Teachers]
GO
ALTER TABLE [dbo].[Curriculum_in_the_specialtys]  WITH CHECK ADD  CONSTRAINT [FK_Curriculum_in_the_specialtys_Specialtys] FOREIGN KEY([id_specialty])
REFERENCES [dbo].[Specialtys] ([id_specialty])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curriculum_in_the_specialtys] CHECK CONSTRAINT [FK_Curriculum_in_the_specialtys_Specialtys]
GO
ALTER TABLE [dbo].[Curriculum_in_the_specialtys]  WITH CHECK ADD  CONSTRAINT [FK_Curriculum_in_the_specialtys_Sudjects] FOREIGN KEY([id_sudject])
REFERENCES [dbo].[Sudjects] ([id_sudject])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curriculum_in_the_specialtys] CHECK CONSTRAINT [FK_Curriculum_in_the_specialtys_Sudjects]
GO
ALTER TABLE [dbo].[Loads]  WITH CHECK ADD  CONSTRAINT [FK_Loads_Curriculum_in_the_specialtys] FOREIGN KEY([id_curriculum_in_the_specialty])
REFERENCES [dbo].[Curriculum_in_the_specialtys] ([id_curriculum_in_the_specialty])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loads] CHECK CONSTRAINT [FK_Loads_Curriculum_in_the_specialtys]
GO
ALTER TABLE [dbo].[Loads]  WITH CHECK ADD  CONSTRAINT [FK_Loads_Groups] FOREIGN KEY([id_group])
REFERENCES [dbo].[Groups] ([id_group])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loads] CHECK CONSTRAINT [FK_Loads_Groups]
GO
ALTER TABLE [dbo].[Loads]  WITH CHECK ADD  CONSTRAINT [FK_Loads_Teachers] FOREIGN KEY([id_teacher])
REFERENCES [dbo].[Teachers] ([id_teacher])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loads] CHECK CONSTRAINT [FK_Loads_Teachers]
GO
ALTER TABLE [dbo].[Loads]  WITH CHECK ADD  CONSTRAINT [FK_Loads_Type_of_clocks] FOREIGN KEY([id_type_of_clock])
REFERENCES [dbo].[Type_of_clocks] ([id_type_of_clock])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loads] CHECK CONSTRAINT [FK_Loads_Type_of_clocks]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Users] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id_user])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([id_role])
REFERENCES [dbo].[Roles] ([id_role])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
